@model homeWork9.ViewModels.ContactViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h4>email addresses</h4>
    <form method="post">
    @{        
        foreach (var viewModel in @Model.ContactDetailsViewModels)
        {
            //<h1>"Header here"</h1>
            <div>                
                @viewModel.Contact.EmailAddress
                <a asp-controller="Contact" asp-action="Edit">Edit</a>
            </div>
            <br>
        }        
    }
    </form>
    <br>        
</body>
</html>