@page
@model ContactDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h4>"Header here"</h4>
    <form method="post">
        <label for="Name">Contact EmailAddress:</label>
        <input type="text" name="emailaddress" value="" />
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </form>
    <br>        
</body>
</html>