@model ContactDetailsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h4>"Header here"</h4>
    <div>                
        <b>EmailAddress:</b> @Model.ContactModel.EmailAddress<br>
    </div>
    <br>        
</body>
</html>