@model homeWork9.ViewModels.ContactDetailsViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Delete contact</title>
</head>
<body>
    <h4>"Delete contact"</h4>
    <form method="post">
        <label for="Name">contact emailaddress:</label>
        <input type="text" asp-for="Contact.EmailAddress" name="emailaddress" value="" /><br>        
        <input asp-action="Create" type="submit" value="submit"/>
    </form>
    <br>        
</body>
</html>