@model homeWork9.ViewModels.ContactViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h4>email addresses</h4>
    @{
        foreach (var viewModel in @Model.ContactDetailsViewModels)
        {
            //<h1>"Header here"</h1>
            <div>                
                @viewModel.Contact.EmailAddress <br>
            </div>
            <br>
        }        
    }
    <br>        
</body>
</html>